<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('components/head') %>
    <title>noteList</title>
</head>
<body>
<!--HEADER-->
<header class="bg-dark p-3 d-flex justify-content-between">
    <h3 class="text-light">note <span class="badge badge-secondary text-uppercase">List</span></h3>
    <div>
        <a href="/notes" class="btn btn-primary">New note</a>
        <a href="/lists" class="btn btn-primary">New list</a>
    </div>
</header>
<!--NOTE-->
<div class="container">

    <% objFromDb.forEach(el => { %>
        <% if (el.type === 'note') { %>

            <div class="card text-white bg-dark mt-3 note-targ" id="note-list" style="max-width: 18rem;">
                <div class="card-body" data-id="<%= el._id%>">
                    <h5 class="card-title" data-id="<%= el._id %>"><%= el.title %></h5>
                    <p class="card-text" data-id="<%= el._id %>"><%= el.text %></p>
                </div>
            </div>
    <!--TO-DO LIST-->
        <% } else { %>
            <div class="card text-white bg-dark mt-3 list-targ" style="max-width: 18rem;" data-id="<%= el._id%>">
                <div class="card-body" id="card-body" >
                    <h5 class="text-light">TO-DO <span class="badge badge-secondary text-uppercase">List</span></h5>
                    <h5><%= el.title %></h5>

                    <div class="unchecked">
                    <% el.items.unchecked.forEach(item => { %>
                            <p><span><%= item %></span></p>
                    <% }) %>
                    </div>

                    <div class="checked">
                    <% el.items.checked.forEach(item => { %>
                            <p><span><%= item %></span></p>
                    <% }) %>
                    </div>

                </div>
            </div>
    <% }}) %>
</div>
<script src="js/index.js"></script>
</body>
</html>